{% extends('base.twig') %}

{% block title %} Blog - Admin: Posts {% endblock title %}

{% block body %}
    <main>
        {% if success is defined %}
            {% for message in success %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <section class="admin__section--posts d-flex flex-column align-items-center">
            <h3 class="my-3">Les articles</h3>

            <a href="{{ asset('admin/posts/create') }}">
                <button type="submit" name="submit" class="btn btn-success my-2">Ajouter</button>
            </a>

            <div class="container my-3">
                <div class="row">
                    <div class="col-lg-9 col-md-10 m-auto">
                        {% for post in posts %}
                            <section class="d-md-flex justify-content-md-between align-items-center">
                                <div class="admin__post-list">
                                    <a href="{{ asset('posts/' ~ post.post_id) }}">
                                        <h5 class="post-title">
                                            {{ post.title }}
                                        </h5>
                                        <h6 class="post-subtitle">
                                            {{ post.subtitle }}
                                        </h6>
                                    </a>
                                    <p>Posté le
                                        {{ post.updated_at | date("d, M Y") }} par
                                        <a href="{{ asset('user/' ~ post.author) }}">{{ post.username | capitalize }}</a>
                                    </p>
                                </div>
                                <div class="controls">
                                    <a href="{{ asset('admin/posts/' ~ post.post_id ~ '/edit') }}">
                                        <button type="submit" name="submit" class="btn btn-primary">Modifier</button>
                                    </a>
                                    <form action="{{ asset('admin/posts/' ~ post.post_id ~ '/delete') }}" method="post" class="my-2">
                                        <input type="hidden" name="token" id="token" value="{{ token }}"/>
                                        <button type="submit" name="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                </div>
                            </section>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
