{% extends('base.twig') %}

{% block title %} Admin - Modifier un article {% endblock title %}

{% block body %}
    {% if post is defined %}
        <div class="card my-4 commentForm">
            <h5 class="card-header">Modifier l'article</h5>
            <div class="card-body">
                <form action="http://localhost/OpenClassrooms/P4-BlogPHP/blog/public/adminPosts/{{ post.post_id }}/edit" method="post">
                    <div class="form-group">
                        <input class="form-control" name="title" value="{{ post.title }}">
                        <input class="form-control" name="subtitle" value="{{ post.subtitle }}">
                        <textarea class="form-control" rows="3" name="content">{{ post.content }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="card my-4 commentForm">
        <h5 class="card-header">Ajouter un article</h5>
        <div class="card-body">
            <form action="http://localhost/OpenClassrooms/P4-BlogPHP/blog/public/adminPosts/create" method="post">
                <div class="form-group">
                    <input class="form-control" name="title" value="">
                    <input class="form-control" name="subtitle" value="">
                    <textarea class="form-control" rows="3" name="content"></textarea>
                    <input class="form-control" name="author" value="{% if user is defined %}{{ user.username }}{% endif %}">
                </div>
                <button type="submit" class="btn btn-primary" name="submit">Enregistrer</button>
            </form>
        </div>
        </div>
    {% endif %}
{% endblock %}
