{% extends('base.twig') %}

{% block title %} Blog - Admin: Commentaires {% endblock title %}

{% block body %}
    <main class="flex justifyBetween">
        {% if success is defined %}
            {% for message in success %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <section class="admin__section--comments d-flex flex-column align-items-center">
            <h3 class="my-3">Les commentaires</h3>
            <div class="container my-3">
                <div class="row">
                    <div class="col-lg-8 col-md-10 m-auto">
                        {% for comment in comments %}
                            <section class="d-flex justify-content-between">
                                <div class="admin__comment-list">
                                    <a href="{{ asset('posts/' ~ comment.post_id ) }}">
                                        <h5 class="comment-title">
                                            {{ comment.content }}
                                        </h5>
                                        <h6 class="comment-subtitle">
                                            {{ comment.status | lower | capitalize }}
                                        </h6>
                                    </a>
                                    <p>Posté le
                                        {{ comment.posted_at | date("d M Y \à h:m") }} par
                                        {{ comment.username | capitalize }}
                                    </p>
                                </div>
                                <div class="controls">
                                    {% if comment.status == 'PENDING' %}
                                        <form action="{{ asset('admin/comments/' ~ comment.comment_id ~ '/publish') }}" method="post">
                                            <input type="hidden" name="token" id="token" value="{{ token }}"/>
                                            <button type="submit" name="submit" class="btn btn-primary">Publier</button>
                                        </form>
                                    {% endif %}
                                    <a href="{{ asset('posts/' ~ comment.post_id) }}">
                                        <button type="submit" name="submit" class="btn btn-secondary my-2">Voir l'article associé</button>
                                    </a>
                                    <form action="{{ asset('admin/comments/' ~ comment.comment_id ~ '/delete') }}" method="post">
                                        <input type="hidden" name="token" id="token" value="{{ token }}"/>
                                        <button type="submit" name="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                </div>
                            </section>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
