{% extends('base.twig') %}

{% block title %} Blog - Admin: Commentaires {% endblock title %}

{% block body %}
    <main class="flex justifyBetween">
        <section class="admin__section--comments">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 m-auto">
                        {% for comment in comments %}
                            <section class="flex justifyBetween">
                                <div class="admin__comment-list">
                                    <a href="{{ asset('posts/' ~ comment.post_id ) }}">
                                        <h5 class="comment-title">
                                            {{ comment.content }}
                                        </h5>
                                        <h6 class="comment-subtitle">
                                            {{ comment.status | lower | capitalize }}
                                        </h6>
                                    </a>
                                    <p>Posté le
                                        {{ comment.posted_at | date("d M Y \à h:m") }} par
                                        {{ comment.username | capitalize }}
                                    </p>
                                </div>
                                <div class="controls">
                                    <ul>
                                        {% if comment.status == 'PENDING' %}
                                            <li><a href="{{ asset('admin/comments/' ~ comment.comment_id ~ '/publish') }}">Publier</a></li>{% endif %}
                                        <li><a href="{{ asset('admin/comments/' ~ comment.comment_id ~ '/delete') }}">Supprimer</a></li>
                                        <li><a href="{{ asset('posts/' ~ comment.post_id) }}">Voir l'article associé</a></li>
                                    </ul>
                                </div>
                            </section>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
