{% extends('base.twig') %}

{% block title %} Blog - Admin: Modifier un article {% endblock title %}

{% block body %}
    {% if post is defined %}
        <div class="card my-4 commentForm">
            <h5 class="card-header">Modifier l'article</h5>
            <div class="card-body">
                <form action="{{ asset('admin/posts/' ~ post.id ~ '/edit') }}" method="post">
                    <div class="form-group">
                        <label for="title">Titre: </label>
                        {% if vm.errors.title is defined %}
                            <div class="alert alert-danger" role="alert">{{ vm.errors.title }}</div>
                        {% endif %}
                        <input class="form-control" name="title" value="{% if vm.title is defined %}{{ vm.title }}{% else %}{{ post.title }}{% endif %}" required>
                        <label for="subtitle">Chapô: </label>
                        {% if vm.errors.subtitle is defined %}
                            <div class="alert alert-danger" role="alert">{{ vm.errors.subtitle }}</div>
                        {% endif %}
                        <input class="form-control" name="subtitle" value="{% if vm.subtitle is defined %}{{ vm.subtitle }}{% else %}{{ post.subtitle }}{% endif %}" required>
                        <label for="content">Article: </label>
                        {% if vm.errors.content is defined %}
                            <div class="alert alert-danger" role="alert">{{ vm.errors.content }}</div>
                        {% endif %}
                        <textarea class="form-control" rows="3" name="content" required>{% if vm.content is defined %}{{ vm.content }}{% else %}{{ post.content }}{% endif %}</textarea>
                        <input type="hidden" name="token" id="token" value="{{ token }}"/>
                    </div>
                    <button type="submit" class="btn btn-primary" name="submitPost">Enregistrer</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="card my-4 commentForm">
            <h5 class="card-header">Ajouter un article</h5>
            <div class="card-body">
                <form action="{{ asset('admin/posts/create') }}" method="post">
                    <div class="form-group">
                        <label for="title">Titre: </label>
                        {% if vm.errors.title is defined %}
                            <div class="alert alert-danger" role="alert">{{ vm.errors.title }}</div>
                        {% endif %}
                        <input class="form-control" name="title" {% if vm.title is defined %}value="{{ vm.title }}"{% endif %} required>
                        <label for="subtitle">Chapô: </label>
                        {% if vm.errors.subtitle is defined %}
                            <div class="alert alert-danger" role="alert">{{ vm.errors.subtitle }}</div>
                        {% endif %}
                        <input class="form-control" name="subtitle" {% if vm.subtitle is defined %}value="{{ vm.subtitle }}"{% endif %} required>
                        <label for="content">Article: </label>
                        {% if vm.errors.content is defined %}
                            <div class="alert alert-danger" role="alert">{{ vm.errors.content }}</div>
                        {% endif %}
                        <textarea class="form-control" rows="3" name="content" required>{% if vm.content is defined %}{{ vm.content }}{% endif %}</textarea>
                        <label for="author">Votre identifiant: </label>
                        {% if vm.errors.author is defined %}
                            <div class="alert alert-danger" role="alert">{{ vm.errors.author }}</div>
                        {% endif %}
                        <input class="form-control" name="author" value="{% if vm.author is defined %}{{ vm.author }}{% elseif currentUser is defined %}{{ currentUser.username }}{% endif %}">
                        <input type="hidden" name="token" id="token" value="{{ token }}"/>
                    </div>
                    <button type="submit" class="btn btn-primary" name="submitPost">Enregistrer</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
