{% extends('base.twig') %}

{% block title %} Blog - Admin: Utilisateurs {% endblock title %}

{% block body %}
    <main class="flex justifyBetween">
        {% if success is defined %}
            {% for message in success %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <section class="admin__section--posts d-flex flex-column align-items-center">
            <h3 class="my-3">Les utilisateurs</h3>
            <div class="container my-3">
                <div class="row">
                    <div class="col-lg-8 col-md-10 m-auto">
                        {% for user in users %}
                            <section class="d-flex justify-content-between">
                                <div class="admin__user-list">
                                    <h5 class="user-title">
                                        {{ user.username }}
                                    </h5>
                                    <h6 class="user-subtitle">
                                        {{ user.firstName }} {{ user.lastName }}
                                    </h6>
                                    {% if user.role == 'ADMIN' %}
                                        <span>Admin</span>
                                    {% endif %}
                                    <p>{{ user.email }}</p>
                                </div>
                                <div class="controls">
                                    {% if user.role == 'REGISTERED_USER' %}
                                        <form action="{{ asset('admin/users/' ~ user.id ~ '/grant') }}" method="post">
                                            <input type="hidden" name="token" id="token" value="{{ token }}"/>
                                            <button type="submit" name="submit" class="btn btn-primary">Attribuer le role admin</button>
                                        </form>
                                    {% endif %}
                                    {% if user.role == 'ADMIN' %}
                                        <form action="{{ asset('admin/users/' ~ user.id ~ '/deny') }}" method="post">
                                            <input type="hidden" name="token" id="token" value="{{ token }}"/>
                                            <button type="submit" name="submit" class="btn btn-secondary">Retirer le role admin</button>
                                        </form>
                                    {% endif %}
                                    <form action="{{ asset('admin/users/' ~ user.id ~ '/delete') }}" method="post" class="my-2">
                                        <input type="hidden" name="token" id="token" value="{{ token }}"/>
                                        <button type="submit" name="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                </div>
                            </section>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
