<div class="card my-4 commentForm">
    <h5 class="card-header">Laisser un commentaire:</h5>
    <div class="card-body">
        <form action="{{ asset('comments/' ~ post.post_id ~ '/add') }}" method="post">
            <div class="form-group">
                <label for="author">Votre identifiant: </label>
                {% if vm.errors.author is defined %}
                    <div class="alert alert-danger" role="alert">{{ vm.errors.author }}</div>
                {% endif %}
                {% if vm.author is defined %}
                    <input class="form-control" name="author" value="{{ vm.author }}" required>
                {% else %}
                    <input class="form-control" name="author" value="{% if currentUser is defined %}{{ currentUser.username }}{% endif %}" required>
                {% endif %}
                <label for="content">Votre commentaire: </label>
                {% if vm.errors.content is defined %}
                    <div class="alert alert-danger" role="alert">{{ vm.errors.content }}</div>
                {% endif %}
                {% if vm.content is defined %}
                    <textarea class="form-control" rows="3" name="content" required>{{ vm.content }}</textarea>
                {% else %}
                    <textarea class="form-control" rows="3" name="content" ></textarea>
                {% endif %}
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
</div>
