{% extends('base.twig') %}

{% block title %} Blog - Contact {% endblock title %}

{% block body %}
    {% if errors is defined %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
    <div class="card my-4 commentForm">
        <h5 class="card-header">Me contacter</h5>
        <div class="card-body">
            <form action="{{ asset('contact') }}" method="post">
                <div class="form-group">
                    <label for="first_name">Votre prénom: </label>
                    {% if vm.errors.firstName is defined %}
                        <div class="alert alert-danger" role="alert">{{ vm.errors.firstName }}</div>
                    {% endif %}
                    {% if vm.firstName is defined %}
                        <input class="form-control" type="text" name="first_name" required value="{{ vm.firstName }}">
                        <br>
                    {% else %}
                        <input class="form-control" type="text" name="first_name" required value="{% if currentUser is defined %} {{ currentUser.first_name }} {% endif %}">
                        <br>
                    {% endif %}
                    <label for="last_name">Votre nom: </label>
                    {% if vm.errors.lastName is defined %}
                        <div class="alert alert-danger" role="alert">{{ vm.errors.lastName }}</div>
                    {% endif %}
                    {% if vm.lastName is defined %}
                        <input class="form-control" type="text" name="last_name" required value="{{ vm.lastName }}"><br>
                    {% else %}
                        <input class="form-control" type="text" name="last_name" required value="{% if currentUser is defined %} {{ currentUser.last_name }} {% endif %}">
                        <br>
                    {% endif %}
                    <label for="email">Votre email: </label>
                    {% if vm.errors.email is defined %}
                        <div class="alert alert-danger" role="alert">{{ vm.errors.email }}</div>
                    {% endif %}
                    {% if vm.email is defined %}
                        <input class="form-control" type="email" name="email" required value="{{ vm.email }}"><br>
                    {% else %}
                        <input class="form-control" type="email" name="email" required><br>
                    {% endif %}
                    <label for="message">Votre message: </label><br>
                    {% if vm.errors.message is defined %}
                        <div class="alert alert-danger" role="alert">{{ vm.errors.message }}</div>
                    {% endif %}
                    {% if vm.message is defined %}
                        <textarea class="form-control" rows="5" name="message" required cols="30">{{ vm.message }}</textarea>
                        <br>
                    {% else %}
                        <textarea class="form-control" rows="5" name="message" required cols="30"></textarea><br>
                    {% endif %}
                    <button type="submit" name="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
