{% extends('base.twig') %}

{% block title %} Blog - {{ post.title }} {% endblock title %}

{% block body %}
    {% if errors is defined %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {% if success is defined %}
        {% for message in success %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <h2 class="section-heading">{{ post.title }}</h2>

                    <h4>{{ post.subtitle }}</h4>

                    <p>{{ post.content | nl2br }}</p>

                    <a href="#">
                        <img class="img-fluid" src="{{ asset('img/post-sample-image.jpg') }}" alt="">
                    </a>
                    <p>Placeholder text by
                        <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
                        <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    {% block comment %}
        {% include('comment-form.twig') %}

        {% if comments %}
            {% for comment in comments %}
                {% include('comment.twig') %}
            {% endfor %}
        {% else %}
            <article>
                <div class="container">
                    <div class="row">
                        <div class="media mb-4">
                            <p>Il n'y a pas encore de commentaire, écrivez-en un !</p>
                        </div>
                    </div>
                </div>
            </article>

        {% endif %}
    {% endblock %}

{% endblock body %}
